<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Star Sporting Goods - Inventory </title>
  {{!-- NEED STYLESHEETS CREATED AND ADDED HERE --}}
  {{!-- <link rel="stylesheet" type="text/css" href="">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
</head>

<body>
  <header>
    <h1>All Star Sporting Goods Total Inventory Login </h1>
  </header>
  <nav>
    <a href="/">Home</a>


  </nav>
  <main>
    <aside>
      <h2>Check Inventory</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  
  {{#if loggedIn}}
  {{!-- refercne logout.js file that live in public/js folder --}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
