{{!-- <div class="d-flex flex-row bd-highlight mb-3">

  <img src="../public/images/bat.jpg" class="d-flex justify-content-around " alt="Baseball bat"/>

<img src="../public/images/baseball.jpg" class="d-flex justify-content-around "alt="Baseball"/>

<img src="../public/images/football.jpg"  class="d-flex justify-content-around " alt="Football "/>

<img src="../public/images/cleats.jpg"  alt="Football cleats"/>
</div> --}}


<div>
  <h2> Welcome to AllStar Sporting Goods!</h2>
  <p> You are now logged in!</p>
</div>