<div class="d-flex flex-row bd-highlight mb-3">
  <img src="../public/images/bat.jpg" class="d-flex justify-content-around bg-white" alt="Baseball bat"/>

<img src="../public/images/baseball.jpg" class="d-flex justify-content-around bg-white"alt="Baseball"/>

<img src="../public/images/football.jpg"  class="d-flex justify-content-around bg-white" alt="Football "/>

<img src="../public/images/cleats.jpg" class="d-flex justify-content-around bg-white" alt="Football cleats"/>
</div>