{{#if products.length}}
<section>
    <h2>Inventory:</h2>
    {{#each products as |product|}}
        {{> products-info product}}
    {{/each}}
</section>
{{/if}}

<button type="submit" id="new-products" class="btn"><a class="link" href="/api/products/new">+ New Product</a></button>


<script src="/js/add-products.js"></script>

